.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
}

.micas {
  text-align: center;
}

.header {
  background-color: white;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.intern {
  border: none;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
}

.intern:hover {
  background-color: #f0f2f5;
  color: #595959;
}

.breadcrumb {
  color: #1890ff;
  font-size: 13px;
  padding-top: 1.5%;
}

.row {
  margin: 10px 24px;
  display: flex;
  justify-content: space-between;
}

.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logout {
  height: 50%;
  margin: 0 5px;
}

.filter_box {
  background: #fff;
  margin-bottom: 15px;
  padding: 10px 6px 25px 18px;
}
